* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Josefin Sans";
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif !important;
  font-weight: 100;
}

h1 {
  font-family: "Josefin Sans";
  font-size: 21px;
  color: black;
  font-weight: 300;
}

.zlhomeModule {
  margin: auto;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
  margin: 0.5% 12%;
  max-width: 95%;
  /* margin-right: 3rem; */
}

#brand-title {
  font-size: 21px;
  color: black;
  font-weight: 300;
  /* margin: 3rem; */
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  padding-left: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  text-decoration: line-through;
}

.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 0vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 15px;
  height: 15px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: grey;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .brand-title {
    position: relative;
    top: 1rem;
  }
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding-bottom: 5vh;
    /* align-items: center; */
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .hero-img {
    max-width: 90%;
  }
  .brand-title {
    margin-top: auto;
    justify-self: center;
  }
}

/* Footer */

footer {
  display: flex;
  border-top: 1px solid black;
}

footer h6 {
  font-family: "Josefin Sans";
  margin: auto;
  padding: 5vh;
  font-size: 12px;
}

/* Home */

.cards {
  width: 100vw;
  margin: auto;
  padding: 5vh;
}

.featured-link-container {
  width: 100%;
  height: 5vh;
  background-color: white;
  margin: auto;
  font-family: "Josefin Sans";
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-description {
  font-size: 1.5rem;
  padding: 3rem;
  font-family: "Josefin Sans";
  width: 100%;
}

.desktop-video-container {
  display: flex;
}

.desktop-video {
  margin: auto;
  width: 80%;
}

.vid-text {
  color: white;
  font-weight: 1000;
  /* display: flex; */
  position: absolute;
  top: 50vh;
  left: 25%;
  right: 25%;
  text-align: center;
  /* background-color: black; */
  border-radius: 10%;
}

.mobile-vid-text {
  display: none;
}

.mobile-video {
  display: none;
}

.mobile-video-container {
  width: 100%;
}

@media (max-width: 800px) {
  .mobile-video {
    display: flex;
  }

  .mobile-vid-text {
    color: white;
    font-weight: 1000;
    display: flex;
    position: absolute;
    top: 550px;
    left: 5%;
    right: 5%;
    text-align: center;
    /* background-color: black; */
    border-radius: 10%;
  }

  .desktop-video {
    display: none;
  }

  p.brand-description {
    font-size: 1.25rem;
  }

  img {
    height: auto;
    max-width: 90%;
    margin: auto;
  }
}

/* About */

#about-img img {
  /* height: 100px; */
  width: auto;
  margin: auto;
  display: flex;
}

.about {
  vertical-align: center;
}

.clients-container {
  margin: auto;
  display: flex;
}

h6 {
  width: 100%;
  text-align: center;
}

ul {
  font-size: 1.5vh;
}

/* About */

.client-list {
  list-style-type: none;
}

.clients-container {
  display: inline;
}
